# Data Prepration : 
## 1. Handelling Missing Data . 
## 2. Encoding categorical values .
## 3. Feature Scalling .
## 4. Split Data .

### Missing Data Handelling : 
* We  will be using pandas library for it .
* Why : ML model can not handel the missing or NaN values .
> Top three method for it : 
1. dropna() . For removing any row or column .
2. fillna(value) , for filling any null value .
3. isnull().sum() , for calculating how much NaN values are there in data .

In [1]:
import pandas as pd

In [5]:
data={
    "Name":["pavan","Kapil","Lalit","Ishan","Om"],
    "Age":[25,None,44,23,None],
    "Salary":[5000,6000,7000,None,None]

}

df=pd.DataFrame(data)
print("Original data Fram e")
print(df)

#This is the way to drop the row completely , where the info is incomplete
print("Total missing values",df.isnull().sum())
df_drop=df.dropna()
print(df_drop)

Original data Fram e
    Name   Age  Salary
0  pavan  25.0  5000.0
1  Kapil   NaN  6000.0
2  Lalit  44.0  7000.0
3  Ishan  23.0     NaN
4     Om   NaN     NaN
Total missing values Name      0
Age       2
Salary    2
dtype: int64
    Name   Age  Salary
0  pavan  25.0  5000.0
2  Lalit  44.0  7000.0

In [6]:
# way to with aaverage value , this fills the values by columns 
df["Age"].fillna(df["Age"].mean(),inplace=True)
df["Salary"].fillna(df["Salary"].mean(),inplace=True)
print(df)

    Name        Age  Salary
0  pavan  25.000000  5000.0
1  Kapil  30.666667  6000.0
2  Lalit  44.000000  7000.0
3  Ishan  23.000000  6000.0
4     Om  30.666667  6000.0

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_22348\519036177.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(),inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_22348\519036177.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Salary"].fillna(df["Salary"].mean(),inplace=True)

> Advices : 
1. Never try  to drop the data at first , always try to fill it 
2. When there is numeric data try to fill it with the mean and median . And when there is categorial data try to fill it with mode .
3. Always try to see how much percent of data is misssing before cleaning .

In [7]:
# Way to see ho much data is missing 
print(df.isnull().mean()*100)
# it will show how much is missing in every data

Name      0.0
Age       0.0
Salary    0.0
dtype: float64