# Data Prepration
## 1. Handelling Missing Data . 
## 2. Categorical values .
## 3. Feeature Scalling .
## 4. Split Data .

### Missing Data Handelling : 
* We  will be using pandas library for it .
* Why : ML model can not handel the missing or NaN values .
> Top three method for it : 
1. dropna() . For removing any row or column .
2. fillna(value) , for filling any null value .
3. isnull().sum() , for calculating how much NaN values are there in data .

In [1]:
import pandas as pd

In [ ]:
data={
    "Name":["pavan","Kapil","Lalit","Ishan","Om"],
    "Age":[25,None,44,23,None],
    "Salary":[5000,6000,7000,None,None]

}

df=pd.DataFrame(data)
print("Original data Fram e")
print(df)

#This is the way to drop the row completely , where the info is incomplete
print("Total missing values",df.isnull().sum())
df_drop=df.dropna()
print(df_drop)

Original data Fram e
    Name   Age  Salary
0  pavan  25.0  5000.0
1  Kapil   NaN  6000.0
2  Lalit  44.0  7000.0
3  Ishan  23.0     NaN
4     Om   NaN     NaN
Total missing values Name      0
Age       2
Salary    2
dtype: int64
    Name   Age  Salary
0  pavan  25.0  5000.0
2  Lalit  44.0  7000.0