## Encoding Categorical Data
### We will be doing two major things :
1. Label encoding
2. one-hot enconding 
* If there is just one type of text data then we don't apply encodding as machine learnign learn nothing from it .

### Label encoding
* As model can not work on the text data , it needed to be in numerical data .this is done with the help of encoding. 
1. every cattegory to be changed in a unique number
 for example : male=0,female =1
2. this tyoe of encoding to b eussed , where there mostly binary type of values .  for example : Gender , married or un-married

In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [2]:
df=pd.read_csv("machine.csv")
df_label=df.copy()  # making a copy fo the data form csv file  

df_label=df_label.drop(columns=["UNITS","Magnitude","Subject","Group","Series_title_1","Suppressed","Series_title_4","Series_title_5"],axis=1)#  the drop returns a new copy of data 
print("Data After deleting the same values columns ")
print(df_label)
le=LabelEncoder()


df_label["STATUS_Labeled"]=le.fit_transform(df_label["STATUS"])

df_label.to_csv("Cleaned_machine.csv")
print("The labeled data is : ")
print(df_label)

Data After deleting the same values columns
    Series_reference   Period  Data_value STATUS  \
0        BDCQ.SEA1AA  2011.06       80078      F
1        BDCQ.SEA1AA  2011.09       78324      F
2        BDCQ.SEA1AA  2011.12       85850      F
3        BDCQ.SEA1AA  2012.03       90743      F
4        BDCQ.SEA1AA  2012.06       81780      F
..               ...      ...         ...    ...
602      BDCQ.SEA1DS  2016.12       16245      R
603      BDCQ.SEA1DS  2017.03       17207      R
604      BDCQ.SEA1DS  2017.06       17243      R
605      BDCQ.SEA1DS  2017.09       17678      R
606      BDCQ.SEA1DS  2017.12       18145      R

                                 Series_title_2       Series_title_3
0             Agriculture, Forestry and Fishing               Actual
1             Agriculture, Forestry and Fishing               Actual
2             Agriculture, Forestry and Fishing               Actual
3             Agriculture, Forestry and Fishing               Actual
4             Agriculture, Forestry and Fishing               Actual
..                                          ...                  ...
602  Electricity, Gas, Water and Waste Services  Seasonally adjusted
603  Electricity, Gas, Water and Waste Services  Seasonally adjusted
604  Electricity, Gas, Water and Waste Services  Seasonally adjusted
605  Electricity, Gas, Water and Waste Services  Seasonally adjusted
606  Electricity, Gas, Water and Waste Services  Seasonally adjusted

[607 rows x 6 columns]
The labeled data is :
    Series_reference   Period  Data_value STATUS  \
0        BDCQ.SEA1AA  2011.06       80078      F
1        BDCQ.SEA1AA  2011.09       78324      F
2        BDCQ.SEA1AA  2011.12       85850      F
3        BDCQ.SEA1AA  2012.03       90743      F
4        BDCQ.SEA1AA  2012.06       81780      F
..               ...      ...         ...    ...
602      BDCQ.SEA1DS  2016.12       16245      R
603      BDCQ.SEA1DS  2017.03       17207      R
604      BDCQ.SEA1DS  2017.06       17243      R
605      BDCQ.SEA1DS  2017.09       17678      R
606      BDCQ.SEA1DS  2017.12       18145      R

                                 Series_title_2       Series_title_3  \
0             Agriculture, Forestry and Fishing               Actual
1             Agriculture, Forestry and Fishing               Actual
2             Agriculture, Forestry and Fishing               Actual
3             Agriculture, Forestry and Fishing               Actual
4             Agriculture, Forestry and Fishing               Actual
..                                          ...                  ...
602  Electricity, Gas, Water and Waste Services  Seasonally adjusted
603  Electricity, Gas, Water and Waste Services  Seasonally adjusted
604  Electricity, Gas, Water and Waste Services  Seasonally adjusted
605  Electricity, Gas, Water and Waste Services  Seasonally adjusted
606  Electricity, Gas, Water and Waste Services  Seasonally adjusted

     STATUS_Labeled
0                 0
1                 0
2                 0
3                 0
4                 0
..              ...
602               1
603               1
604               1
605               1
606               1

[607 rows x 7 columns]

### one-Hot encoding :
 This encoding is used to ecode when we have more then two categroy of the data

In [3]:
df_label=pd.get_dummies(df_label,columns=["Series_reference","Series_title_2","Series_title_3"],dtype=int)
print("one hot encoded data")
print(df_label)
df_label.to_csv("Cleaned_machine.csv")

one hot encoded data
      Period  Data_value STATUS  STATUS_Labeled  Series_reference_BDCQ.SEA1AA  \
0    2011.06       80078      F               0                             1
1    2011.09       78324      F               0                             1
2    2011.12       85850      F               0                             1
3    2012.03       90743      F               0                             1
4    2012.06       81780      F               0                             1
..       ...         ...    ...             ...                           ...
602  2016.12       16245      R               1                             0
603  2017.03       17207      R               1                             0
604  2017.06       17243      R               1                             0
605  2017.09       17678      R               1                             0
606  2017.12       18145      R               1                             0

     Series_reference_BDCQ.SEA1AS  Series_reference_BDCQ.SEA1AT  \
0                               0                             0
1                               0                             0
2                               0                             0
3                               0                             0
4                               0                             0
..                            ...                           ...
602                             0                             0
603                             0                             0
604                             0                             0
605                             0                             0
606                             0                             0

     Series_reference_BDCQ.SEA1BA  Series_reference_BDCQ.SEA1BS  \
0                               0                             0
1                               0                             0
2                               0                             0
3                               0                             0
4                               0                             0
..                            ...                           ...
602                             0                             0
603                             0                             0
604                             0                             0
605                             0                             0
606                             0                             0

     Series_reference_BDCQ.SEA1BT  ...  Series_reference_BDCQ.SEA1CT  \
0                               0  ...                             0
1                               0  ...                             0
2                               0  ...                             0
3                               0  ...                             0
4                               0  ...                             0
..                            ...  ...                           ...
602                             0  ...                             0
603                             0  ...                             0
604                             0  ...                             0
605                             0  ...                             0
606                             0  ...                             0

     Series_reference_BDCQ.SEA1DA  Series_reference_BDCQ.SEA1DS  \
0                               0                             0
1                               0                             0
2                               0                             0
3                               0                             0
4                               0                             0
..                            ...                           ...
602                             0                             1
603                             0                             1
604                             0                             1
605                             0                             1
606                             0                             1

     Series_title_2_Agriculture, Forestry and Fishing  \
0                                                   1
1                                                   1
2                                                   1
3                                                   1
4                                                   1
..                                                ...
602                                                 0
603                                                 0
604                                                 0
605                                                 0
606                                                 0

     Series_title_2_Electricity, Gas, Water and Waste Services  \
0                                                    0
1                                                    0
2                                                    0
3                                                    0
4                                                    0
..                                                 ...
602                                                  1
603                                                  1
604                                                  1
605                                                  1
606                                                  1

     Series_title_2_Manufacturing  Series_title_2_Mining  \
0                               0                      0
1                               0                      0
2                               0                      0
3                               0                      0
4                               0                      0
..                            ...                    ...
602                             0                      0
603                             0                      0
604                             0                      0
605                             0                      0
606                             0                      0

     Series_title_3_Actual  Series_title_3_Seasonally adjusted  \
0                        1                                   0
1                        1                                   0
2                        1                                   0
3                        1                                   0
4                        1                                   0
..                     ...                                 ...
602                      0                                   1
603                      0                                   1
604                      0                                   1
605                      0                                   1
606                      0                                   1

     Series_title_3_Trend
0                       0
1                       0
2                       0
3                       0
4                       0
..                    ...
602                     0
603                     0
604                     0
605                     0
606                     0

[607 rows x 22 columns]

In [4]:
df_label.drop(columns=["STATUS"],axis=1)
print(df_label)
df_label.to_csv("Cleaned_machine.csv")

      Period  Data_value STATUS  STATUS_Labeled  Series_reference_BDCQ.SEA1AA  \
0    2011.06       80078      F               0                             1
1    2011.09       78324      F               0                             1
2    2011.12       85850      F               0                             1
3    2012.03       90743      F               0                             1
4    2012.06       81780      F               0                             1
..       ...         ...    ...             ...                           ...
602  2016.12       16245      R               1                             0
603  2017.03       17207      R               1                             0
604  2017.06       17243      R               1                             0
605  2017.09       17678      R               1                             0
606  2017.12       18145      R               1                             0

     Series_reference_BDCQ.SEA1AS  Series_reference_BDCQ.SEA1AT  \
0                               0                             0
1                               0                             0
2                               0                             0
3                               0                             0
4                               0                             0
..                            ...                           ...
602                             0                             0
603                             0                             0
604                             0                             0
605                             0                             0
606                             0                             0

     Series_reference_BDCQ.SEA1BA  Series_reference_BDCQ.SEA1BS  \
0                               0                             0
1                               0                             0
2                               0                             0
3                               0                             0
4                               0                             0
..                            ...                           ...
602                             0                             0
603                             0                             0
604                             0                             0
605                             0                             0
606                             0                             0

     Series_reference_BDCQ.SEA1BT  ...  Series_reference_BDCQ.SEA1CT  \
0                               0  ...                             0
1                               0  ...                             0
2                               0  ...                             0
3                               0  ...                             0
4                               0  ...                             0
..                            ...  ...                           ...
602                             0  ...                             0
603                             0  ...                             0
604                             0  ...                             0
605                             0  ...                             0
606                             0  ...                             0

     Series_reference_BDCQ.SEA1DA  Series_reference_BDCQ.SEA1DS  \
0                               0                             0
1                               0                             0
2                               0                             0
3                               0                             0
4                               0                             0
..                            ...                           ...
602                             0                             1
603                             0                             1
604                             0                             1
605                             0                             1
606                             0                             1

     Series_title_2_Agriculture, Forestry and Fishing  \
0                                                   1
1                                                   1
2                                                   1
3                                                   1
4                                                   1
..                                                ...
602                                                 0
603                                                 0
604                                                 0
605                                                 0
606                                                 0

     Series_title_2_Electricity, Gas, Water and Waste Services  \
0                                                    0
1                                                    0
2                                                    0
3                                                    0
4                                                    0
..                                                 ...
602                                                  1
603                                                  1
604                                                  1
605                                                  1
606                                                  1

     Series_title_2_Manufacturing  Series_title_2_Mining  \
0                               0                      0
1                               0                      0
2                               0                      0
3                               0                      0
4                               0                      0
..                            ...                    ...
602                             0                      0
603                             0                      0
604                             0                      0
605                             0                      0
606                             0                      0

     Series_title_3_Actual  Series_title_3_Seasonally adjusted  \
0                        1                                   0
1                        1                                   0
2                        1                                   0
3                        1                                   0
4                        1                                   0
..                     ...                                 ...
602                      0                                   1
603                      0                                   1
604                      0                                   1
605                      0                                   1
606                      0                                   1

     Series_title_3_Trend
0                       0
1                       0
2                       0
3                       0
4                       0
..                    ...
602                     0
603                     0
604                     0
605                     0
606                     0

[607 rows x 22 columns]