In [208]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
import pandas as pd

In [209]:
df=pd.read_csv("Dataset.csv")
df2=df.copy()

In [210]:
print(df2)

    Rank   Peak All Time Peak     Actual gross  \
0      1      1             2     $780,000,000
1      2      1          7[2]     $579,800,000
2      3   1[4]          2[5]     $411,000,000
3      4   2[7]         10[7]     $397,300,000
4      5   2[4]           NaN     $345,675,146
5      6   2[4]         10[9]     $305,158,363
6      7  2[10]           NaN     $280,000,000
7      7    NaN           NaN     $257,600,000
8      9    NaN           NaN     $256,084,556
9     10    NaN           NaN     $250,400,000
10    11    NaN           NaN  $229,100,000[b]
11    12    NaN        14[17]     $227,400,000
12    13    NaN           NaN     $204,000,000
13    14  1[20]           NaN     $200,000,000
14    15   2[c]           NaN     $194,000,000
15    16    NaN           NaN     $184,000,000
16    17    NaN           NaN     $170,000,000
17    18    NaN           NaN     $169,800,000
18    19    NaN           NaN  $167,700,000[e]
19    20    NaN           NaN     $150,000,000

   Adjusted gross (in 2022 dollars)        Artist  \
0                      $780,000,000  Taylor Swift
1                      $579,800,000       Beyoncé
2                      $560,622,615       Madonna
3                      $454,751,555          Pink
4                      $402,844,849  Taylor Swift
5                      $388,978,496       Madonna
6                      $381,932,682   Celine Dion
7                      $257,600,000          Pink
8                      $312,258,401       Beyoncé
9                      $309,141,878  Taylor Swift
10                     $283,202,896       Beyoncé
11                     $295,301,479     Lady Gaga
12                     $251,856,802    Katy Perry
13                     $299,676,265          Cher
14                     $281,617,035       Madonna
15                     $227,452,347          Pink
16                     $213,568,571     Lady Gaga
17                     $207,046,755       Madonna
18                     $204,486,106         Adele
19                     $185,423,109  Taylor Swift

                                  Tour title    Year(s)  Shows Average gross  \
0                            The Eras Tour †  2023–2024     56   $13,928,571
1                     Renaissance World Tour       2023     56   $10,353,571
2                Sticky & Sweet Tour ‡[4][a]  2008–2009     85    $4,835,294
3                Beautiful Trauma World Tour  2018–2019    156    $2,546,795
4                    Reputation Stadium Tour       2018     53    $6,522,173
5                              The MDNA Tour       2012     88    $3,467,709
6                  Taking Chances World Tour  2008–2009    131    $2,137,405
7                          Summer Carnival †  2023–2024     41    $6,282,927
8                   The Formation World Tour       2016     49    $5,226,215
9                        The 1989 World Tour       2015     85    $2,945,882
10           The Mrs. Carter Show World Tour  2013–2014    132    $1,735,606
11                   The Monster Ball Tour *  2009–2011    203    $1,118,227
12                      Prismatic World Tour  2014–2015    151    $1,350,993
13  Living Proof: The Farewell Tour ‡[21][a]  2002–2005    325      $615,385
14                          Confessions Tour       2006     60    $3,233,333
15                 The Truth About Love Tour  2013–2014    142    $1,295,775
16                        Born This Way Ball  2012–2013     98    $1,734,694
17                          Rebel Heart Tour  2015–2016     82    $2,070,732
18                           Adele Live 2016  2016–2017    121    $1,385,950
19                              The Red Tour  2013–2014     86    $1,744,186

        Ref.
0        [1]
1        [3]
2        [6]
3        [7]
4        [8]
5        [9]
6       [11]
7       [12]
8       [13]
9       [14]
10  [15][16]
11      [18]
12      [19]
13      [20]
14       [5]
15      [22]
16       [d]
17       [4]
18      [25]
19      [26]

In [211]:
column_to_clean=["Peak","All Time Peak","Actual gross","Adjusted gross (in 2022 dollars)","Average gross"]

for col in column_to_clean:
    df2[col]=df2[col].str.replace(r'\[.*?\]',"",regex=True)

    df2[col]=df2[col].str.replace(r'\D',"",regex=True)

    df2[col]=pd.to_numeric(df2[col])

    
df2=df2.drop("Ref.",axis=1)

In [212]:
print(df2)

    Rank  Peak  All Time Peak  Actual gross  Adjusted gross (in 2022 dollars)  \
0      1   1.0            2.0     780000000                         780000000
1      2   1.0            7.0     579800000                         579800000
2      3   1.0            2.0     411000000                         560622615
3      4   2.0           10.0     397300000                         454751555
4      5   2.0            NaN     345675146                         402844849
5      6   2.0           10.0     305158363                         388978496
6      7   2.0            NaN     280000000                         381932682
7      7   NaN            NaN     257600000                         257600000
8      9   NaN            NaN     256084556                         312258401
9     10   NaN            NaN     250400000                         309141878
10    11   NaN            NaN     229100000                         283202896
11    12   NaN           14.0     227400000                         295301479
12    13   NaN            NaN     204000000                         251856802
13    14   1.0            NaN     200000000                         299676265
14    15   2.0            NaN     194000000                         281617035
15    16   NaN            NaN     184000000                         227452347
16    17   NaN            NaN     170000000                         213568571
17    18   NaN            NaN     169800000                         207046755
18    19   NaN            NaN     167700000                         204486106
19    20   NaN            NaN     150000000                         185423109

          Artist                                Tour title    Year(s)  Shows  \
0   Taylor Swift                           The Eras Tour †  2023–2024     56
1        Beyoncé                    Renaissance World Tour       2023     56
2        Madonna               Sticky & Sweet Tour ‡[4][a]  2008–2009     85
3           Pink               Beautiful Trauma World Tour  2018–2019    156
4   Taylor Swift                   Reputation Stadium Tour       2018     53
5        Madonna                             The MDNA Tour       2012     88
6    Celine Dion                 Taking Chances World Tour  2008–2009    131
7           Pink                         Summer Carnival †  2023–2024     41
8        Beyoncé                  The Formation World Tour       2016     49
9   Taylor Swift                       The 1989 World Tour       2015     85
10       Beyoncé           The Mrs. Carter Show World Tour  2013–2014    132
11     Lady Gaga                   The Monster Ball Tour *  2009–2011    203
12    Katy Perry                      Prismatic World Tour  2014–2015    151
13          Cher  Living Proof: The Farewell Tour ‡[21][a]  2002–2005    325
14       Madonna                          Confessions Tour       2006     60
15          Pink                 The Truth About Love Tour  2013–2014    142
16     Lady Gaga                        Born This Way Ball  2012–2013     98
17       Madonna                          Rebel Heart Tour  2015–2016     82
18         Adele                           Adele Live 2016  2016–2017    121
19  Taylor Swift                              The Red Tour  2013–2014     86

    Average gross
0        13928571
1        10353571
2         4835294
3         2546795
4         6522173
5         3467709
6         2137405
7         6282927
8         5226215
9         2945882
10        1735606
11        1118227
12        1350993
13         615385
14        3233333
15        1295775
16        1734694
17        2070732
18        1385950
19        1744186

In [213]:
df2.to_csv("Cleaned_Dataset.csv")

In [214]:
print("Total NaN data in the Dataset")
df2.isnull().sum()
# first we will try to fill it 
df2["Peak"].fillna(df2["Peak"].mode()[0],inplace=True)
df2["All Time Peak"].fillna(df2["All Time Peak"].mean(),inplace=True)
df2.to_csv("Cleaned_Dataset.csv")

Total NaN data in the Dataset

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4628\1540383077.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2["Peak"].fillna(df2["Peak"].mode()[0],inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_4628\1540383077.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2["All Time Peak"].fillna(df2["All Time Peak"].mean(),inplace=True)

In [215]:
df2.drop("Tour title",axis=1)

,Rank,Peak,All Time Peak,Actual gross,Adjusted gross (in 2022 dollars),Artist,Year(s),Shows,Average gross
0,1,1.0,2.0,780000000,780000000,Taylor Swift,2023–2024,56,13928571
1,2,1.0,7.0,579800000,579800000,Beyoncé,2023,56,10353571
2,3,1.0,2.0,411000000,560622615,Madonna,2008–2009,85,4835294
3,4,2.0,10.0,397300000,454751555,Pink,2018–2019,156,2546795
4,5,2.0,7.5,345675146,402844849,Taylor Swift,2018,53,6522173
5,6,2.0,10.0,305158363,388978496,Madonna,2012,88,3467709
6,7,2.0,7.5,280000000,381932682,Celine Dion,2008–2009,131,2137405
7,7,2.0,7.5,257600000,257600000,Pink,2023–2024,41,6282927
8,9,2.0,7.5,256084556,312258401,Beyoncé,2016,49,5226215
9,10,2.0,7.5,250400000,309141878,Taylor Swift,2015,85,2945882
10,11,2.0,7.5,229100000,283202896,Beyoncé,2013–2014,132,1735606
11,12,2.0,14.0,227400000,295301479,Lady Gaga,2009–2011,203,1118227
12,13,2.0,7.5,204000000,251856802,Katy Perry,2014–2015,151,1350993
13,14,1.0,7.5,200000000,299676265,Cher,2002–2005,325,615385
14,15,2.0,7.5,194000000,281617035,Madonna,2006,60,3233333
15,16,2.0,7.5,184000000,227452347,Pink,2013–2014,142,1295775
16,17,2.0,7.5,170000000,213568571,Lady Gaga,2012–2013,98,1734694
17,18,2.0,7.5,169800000,207046755,Madonna,2015–2016,82,2070732
18,19,2.0,7.5,167700000,204486106,Adele,2016–2017,121,1385950
19,20,2.0,7.5,150000000,185423109,Taylor Swift,2013–2014,86,1744186

In [216]:
df2=pd.get_dummies(df2,"Artist",dtype=int)
df2.to_csv("Cleaned_Dataset.csv")

In [218]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
scaled=scalar.fit_transform(df2)

df3=pd.DataFrame(scaled,columns=df2.columns)
print(df3)

df3.to_csv("Cleaned_Dataset.csv")

        Rank  Peak  All Time Peak  Actual gross  \
0  -1.631555  -2.0      -2.288689      3.229302
1  -1.458904  -2.0      -0.208063      1.915396
2  -1.286252  -2.0      -2.288689      0.807567
3  -1.113601   0.5       1.040313      0.717655
4  -0.940950   0.5       0.000000      0.378842
5  -0.768298   0.5       1.040313      0.112932
6  -0.595647   0.5       0.000000     -0.052182
7  -0.595647   0.5       0.000000     -0.199192
8  -0.250344   0.5       0.000000     -0.209138
9  -0.077693   0.5       0.000000     -0.246445
10  0.094958   0.5       0.000000     -0.386237
11  0.267610   0.5       2.704814     -0.397394
12  0.440261   0.5       0.000000     -0.550967
13  0.612912  -2.0       0.000000     -0.577219
14  0.785564   0.5       0.000000     -0.616597
15  0.958215   0.5       0.000000     -0.682226
16  1.130866   0.5       0.000000     -0.774108
17  1.303518   0.5       0.000000     -0.775421
18  1.476169   0.5       0.000000     -0.789203
19  1.648820   0.5       0.000000     -0.905367

    Adjusted gross (in 2022 dollars)     Shows  Average gross  Artist_Adele  \
0                           2.954204 -0.833030       3.084581     -0.229416
1                           1.598088 -0.833030       2.003678     -0.229416
2                           1.468185 -0.385662       0.335223     -0.229416
3                           0.751035  0.709618      -0.356706     -0.229416
4                           0.399429 -0.879309       0.845252     -0.229416
5                           0.305501 -0.339383      -0.078267     -0.229416
6                           0.257774  0.323956      -0.480485     -0.229416
7                          -0.584431 -1.064427       0.772916     -0.229416
8                          -0.214186 -0.941015       0.453418     -0.229416
9                          -0.235296 -0.385662      -0.236042     -0.229416
10                         -0.411002  0.339383      -0.601970     -0.229416
11                         -0.329048  1.434663      -0.788634     -0.229416
12                         -0.623334  0.632486      -0.718258     -0.229416
13                         -0.299414  3.316693      -0.940669     -0.229416
14                         -0.421744 -0.771324      -0.149131     -0.229416
15                         -0.788645  0.493647      -0.734953     -0.229416
16                         -0.882691 -0.185118      -0.602245     -0.229416
17                         -0.926868 -0.431941      -0.500644     -0.229416
18                         -0.944214  0.169691      -0.707688      4.358899
19                         -1.073343 -0.370235      -0.599375     -0.229416

    Artist_Beyoncé  Artist_Celine Dion  ...  Artist_2013–2014  \
0        -0.420084           -0.229416  ...         -0.420084
1         2.380476           -0.229416  ...         -0.420084
2        -0.420084           -0.229416  ...         -0.420084
3        -0.420084           -0.229416  ...         -0.420084
4        -0.420084           -0.229416  ...         -0.420084
5        -0.420084           -0.229416  ...         -0.420084
6        -0.420084            4.358899  ...         -0.420084
7        -0.420084           -0.229416  ...         -0.420084
8         2.380476           -0.229416  ...         -0.420084
9        -0.420084           -0.229416  ...         -0.420084
10        2.380476           -0.229416  ...          2.380476
11       -0.420084           -0.229416  ...         -0.420084
12       -0.420084           -0.229416  ...         -0.420084
13       -0.420084           -0.229416  ...         -0.420084
14       -0.420084           -0.229416  ...         -0.420084
15       -0.420084           -0.229416  ...          2.380476
16       -0.420084           -0.229416  ...         -0.420084
17       -0.420084           -0.229416  ...         -0.420084
18       -0.420084           -0.229416  ...         -0.420084
19       -0.420084           -0.229416  ...          2.380476

    Artist_2014–2015  Artist_2015  Artist_2015–2016  Artist_2016  \
0          -0.229416    -0.229416         -0.229416    -0.229416
1          -0.229416    -0.229416         -0.229416    -0.229416
2          -0.229416    -0.229416         -0.229416    -0.229416
3          -0.229416    -0.229416         -0.229416    -0.229416
4          -0.229416    -0.229416         -0.229416    -0.229416
5          -0.229416    -0.229416         -0.229416    -0.229416
6          -0.229416    -0.229416         -0.229416    -0.229416
7          -0.229416    -0.229416         -0.229416    -0.229416
8          -0.229416    -0.229416         -0.229416     4.358899
9          -0.229416     4.358899         -0.229416    -0.229416
10         -0.229416    -0.229416         -0.229416    -0.229416
11         -0.229416    -0.229416         -0.229416    -0.229416
12          4.358899    -0.229416         -0.229416    -0.229416
13         -0.229416    -0.229416         -0.229416    -0.229416
14         -0.229416    -0.229416         -0.229416    -0.229416
15         -0.229416    -0.229416         -0.229416    -0.229416
16         -0.229416    -0.229416         -0.229416    -0.229416
17         -0.229416    -0.229416          4.358899    -0.229416
18         -0.229416    -0.229416         -0.229416    -0.229416
19         -0.229416    -0.229416         -0.229416    -0.229416

    Artist_2016–2017  Artist_2018  Artist_2018–2019  Artist_2023  \
0          -0.229416    -0.229416         -0.229416    -0.229416
1          -0.229416    -0.229416         -0.229416     4.358899
2          -0.229416    -0.229416         -0.229416    -0.229416
3          -0.229416    -0.229416          4.358899    -0.229416
4          -0.229416     4.358899         -0.229416    -0.229416
5          -0.229416    -0.229416         -0.229416    -0.229416
6          -0.229416    -0.229416         -0.229416    -0.229416
7          -0.229416    -0.229416         -0.229416    -0.229416
8          -0.229416    -0.229416         -0.229416    -0.229416
9          -0.229416    -0.229416         -0.229416    -0.229416
10         -0.229416    -0.229416         -0.229416    -0.229416
11         -0.229416    -0.229416         -0.229416    -0.229416
12         -0.229416    -0.229416         -0.229416    -0.229416
13         -0.229416    -0.229416         -0.229416    -0.229416
14         -0.229416    -0.229416         -0.229416    -0.229416
15         -0.229416    -0.229416         -0.229416    -0.229416
16         -0.229416    -0.229416         -0.229416    -0.229416
17         -0.229416    -0.229416         -0.229416    -0.229416
18          4.358899    -0.229416         -0.229416    -0.229416
19         -0.229416    -0.229416         -0.229416    -0.229416

    Artist_2023–2024
0           3.000000
1          -0.333333
2          -0.333333
3          -0.333333
4          -0.333333
5          -0.333333
6          -0.333333
7           3.000000
8          -0.333333
9          -0.333333
10         -0.333333
11         -0.333333
12         -0.333333
13         -0.333333
14         -0.333333
15         -0.333333
16         -0.333333
17         -0.333333
18         -0.333333
19         -0.333333

[20 rows x 52 columns]