In [ ]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
import pandas as pd

In [ ]:
df=pd.read_csv("Dataset.csv")
df2=df.copy()

columns_to_clean=["Peak","All Time Peak","Actual gross","Adjusted gross (in 2022 dollars)","Average gross"]
for col in columns_to_clean:
    #to clean everything which is bitween the columns
    df2[col] = df2[col].replace(r'\[.*?\]', '', regex=True)
    #to clean everything except the numeric digits
    df2[col]=df2[col].replace(r'\D',"",regex=True)
    # convert everything to numeric values again
    df2[col]=pd.to_numeric(df2[col])

df2["Ref."]=df2["Ref."].replace(r'\D','',regex=True)
print(df2)

In [ ]:
df2.isnull().sum()

In [ ]:
peak_mode=df2["Peak"].mode()[0]

df2["Peak"].fillna(peak_mode,inplace=True)
df2["All Time Peak"].fillna(df2["All Time Peak"].mean(),inplace=True)

print(df2)
df2.isnull().sum()

In [ ]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [78]:

df2=pd.get_dummies(df2,"Artist",dtype=int)
print(df2)
df2.to_csv("Cleaned_Dataset.csv")

    Rank  Peak  All Time Peak  Actual gross  Adjusted gross (in 2022 dollars)  \
0      1   1.0            2.0     780000000                         780000000
1      2   1.0            7.0     579800000                         579800000
2      3   1.0            2.0     411000000                         560622615
3      4   2.0           10.0     397300000                         454751555
4      5   2.0            7.5     345675146                         402844849
5      6   2.0           10.0     305158363                         388978496
6      7   2.0            7.5     280000000                         381932682
7      7   2.0            7.5     257600000                         257600000
8      9   2.0            7.5     256084556                         312258401
9     10   2.0            7.5     250400000                         309141878
10    11   2.0            7.5     229100000                         283202896
11    12   2.0           14.0     227400000                         295301479
12    13   2.0            7.5     204000000                         251856802
13    14   1.0            7.5     200000000                         299676265
14    15   2.0            7.5     194000000                         281617035
15    16   2.0            7.5     184000000                         227452347
16    17   2.0            7.5     170000000                         213568571
17    18   2.0            7.5     169800000                         207046755
18    19   2.0            7.5     167700000                         204486106
19    20   2.0            7.5     150000000                         185423109

    Shows  Average gross  Artists_Adele  Artists_Beyoncé  Artists_Celine Dion  \
0      56       13928571              0                0                    0
1      56       10353571              0                1                    0
2      85        4835294              0                0                    0
3     156        2546795              0                0                    0
4      53        6522173              0                0                    0
5      88        3467709              0                0                    0
6     131        2137405              0                0                    1
7      41        6282927              0                0                    0
8      49        5226215              0                1                    0
9      85        2945882              0                0                    0
10    132        1735606              0                1                    0
11    203        1118227              0                0                    0
12    151        1350993              0                0                    0
13    325         615385              0                0                    0
14     60        3233333              0                0                    0
15    142        1295775              0                0                    0
16     98        1734694              0                0                    0
17     82        2070732              0                0                    0
18    121        1385950              1                0                    0
19     86        1744186              0                0                    0

    ...  Artists_22  Artists_25  Artists_26  Artists_3  Artists_4  Artists_5  \
0   ...           0           0           0          0          0          0
1   ...           0           0           0          1          0          0
2   ...           0           0           0          0          0          0
3   ...           0           0           0          0          0          0
4   ...           0           0           0          0          0          0
5   ...           0           0           0          0          0          0
6   ...           0           0           0          0          0          0
7   ...           0           0           0          0          0          0
8   ...           0           0           0          0          0          0
9   ...           0           0           0          0          0          0
10  ...           0           0           0          0          0          0
11  ...           0           0           0          0          0          0
12  ...           0           0           0          0          0          0
13  ...           0           0           0          0          0          0
14  ...           0           0           0          0          0          1
15  ...           1           0           0          0          0          0
16  ...           0           0           0          0          0          0
17  ...           0           0           0          0          1          0
18  ...           0           1           0          0          0          0
19  ...           0           0           1          0          0          0

    Artists_6  Artists_7  Artists_8  Artists_9
0           0          0          0          0
1           0          0          0          0
2           1          0          0          0
3           0          1          0          0
4           0          0          1          0
5           0          0          0          1
6           0          0          0          0
7           0          0          0          0
8           0          0          0          0
9           0          0          0          0
10          0          0          0          0
11          0          0          0          0
12          0          0          0          0
13          0          0          0          0
14          0          0          0          0
15          0          0          0          0
16          0          0          0          0
17          0          0          0          0
18          0          0          0          0
19          0          0          0          0

[20 rows x 72 columns]