In [1]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
import pandas as pd

In [20]:
df=pd.read_csv("Dataset.csv")
df2=df.copy()

df2["Actual gross"]=df2["Actual gross"].str.replace("$"," ")
print(df2)

    Rank   Peak All Time Peak     Actual gross  \
0      1      1             2      780,000,000
1      2      1          7[2]      579,800,000
2      3   1[4]          2[5]      411,000,000
3      4   2[7]         10[7]      397,300,000
4      5   2[4]           NaN      345,675,146
5      6   2[4]         10[9]      305,158,363
6      7  2[10]           NaN      280,000,000
7      7    NaN           NaN      257,600,000
8      9    NaN           NaN      256,084,556
9     10    NaN           NaN      250,400,000
10    11    NaN           NaN   229,100,000[b]
11    12    NaN        14[17]      227,400,000
12    13    NaN           NaN      204,000,000
13    14  1[20]           NaN      200,000,000
14    15   2[c]           NaN      194,000,000
15    16    NaN           NaN      184,000,000
16    17    NaN           NaN      170,000,000
17    18    NaN           NaN      169,800,000
18    19    NaN           NaN   167,700,000[e]
19    20    NaN           NaN      150,000,000

   Adjusted gross (in 2022 dollars)        Artist  \
0                      $780,000,000  Taylor Swift
1                      $579,800,000       Beyoncé
2                      $560,622,615       Madonna
3                      $454,751,555          Pink
4                      $402,844,849  Taylor Swift
5                      $388,978,496       Madonna
6                      $381,932,682   Celine Dion
7                      $257,600,000          Pink
8                      $312,258,401       Beyoncé
9                      $309,141,878  Taylor Swift
10                     $283,202,896       Beyoncé
11                     $295,301,479     Lady Gaga
12                     $251,856,802    Katy Perry
13                     $299,676,265          Cher
14                     $281,617,035       Madonna
15                     $227,452,347          Pink
16                     $213,568,571     Lady Gaga
17                     $207,046,755       Madonna
18                     $204,486,106         Adele
19                     $185,423,109  Taylor Swift

                                  Tour title    Year(s)  Shows Average gross  \
0                            The Eras Tour †  2023–2024     56   $13,928,571
1                     Renaissance World Tour       2023     56   $10,353,571
2                Sticky & Sweet Tour ‡[4][a]  2008–2009     85    $4,835,294
3                Beautiful Trauma World Tour  2018–2019    156    $2,546,795
4                    Reputation Stadium Tour       2018     53    $6,522,173
5                              The MDNA Tour       2012     88    $3,467,709
6                  Taking Chances World Tour  2008–2009    131    $2,137,405
7                          Summer Carnival †  2023–2024     41    $6,282,927
8                   The Formation World Tour       2016     49    $5,226,215
9                        The 1989 World Tour       2015     85    $2,945,882
10           The Mrs. Carter Show World Tour  2013–2014    132    $1,735,606
11                   The Monster Ball Tour *  2009–2011    203    $1,118,227
12                      Prismatic World Tour  2014–2015    151    $1,350,993
13  Living Proof: The Farewell Tour ‡[21][a]  2002–2005    325      $615,385
14                          Confessions Tour       2006     60    $3,233,333
15                 The Truth About Love Tour  2013–2014    142    $1,295,775
16                        Born This Way Ball  2012–2013     98    $1,734,694
17                          Rebel Heart Tour  2015–2016     82    $2,070,732
18                           Adele Live 2016  2016–2017    121    $1,385,950
19                              The Red Tour  2013–2014     86    $1,744,186

        Ref.
0        [1]
1        [3]
2        [6]
3        [7]
4        [8]
5        [9]
6       [11]
7       [12]
8       [13]
9       [14]
10  [15][16]
11      [18]
12      [19]
13      [20]
14       [5]
15      [22]
16       [d]
17       [4]
18      [25]
19      [26]