In [ ]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
import pandas as pd

In [67]:
df=pd.read_csv("Dataset.csv")
df2=df.copy()

columns_to_clean=["Peak","All Time Peak","Actual gross","Adjusted gross (in 2022 dollars)","Average gross"]
for col in columns_to_clean:
    #to clean everything which is bitween the columns
    df2[col] = df2[col].replace(r'\[.*?\]', '', regex=True)
    #to clean everything except the numeric digits
    df2[col]=df2[col].replace(r'\D',"",regex=True)
    # convert everything to numeric values again
    df2[col]=pd.to_numeric(df2[col])

df2["Ref."]=df2["Ref."].replace(r'\D','',regex=True)
print(df2)

    Rank  Peak  All Time Peak  Actual gross  Adjusted gross (in 2022 dollars)  \
0      1   1.0            2.0     780000000                         780000000
1      2   1.0            7.0     579800000                         579800000
2      3   1.0            2.0     411000000                         560622615
3      4   2.0           10.0     397300000                         454751555
4      5   2.0            NaN     345675146                         402844849
5      6   2.0           10.0     305158363                         388978496
6      7   2.0            NaN     280000000                         381932682
7      7   NaN            NaN     257600000                         257600000
8      9   NaN            NaN     256084556                         312258401
9     10   NaN            NaN     250400000                         309141878
10    11   NaN            NaN     229100000                         283202896
11    12   NaN           14.0     227400000                         295301479
12    13   NaN            NaN     204000000                         251856802
13    14   1.0            NaN     200000000                         299676265
14    15   2.0            NaN     194000000                         281617035
15    16   NaN            NaN     184000000                         227452347
16    17   NaN            NaN     170000000                         213568571
17    18   NaN            NaN     169800000                         207046755
18    19   NaN            NaN     167700000                         204486106
19    20   NaN            NaN     150000000                         185423109

          Artist                                Tour title    Year(s)  Shows  \
0   Taylor Swift                           The Eras Tour †  2023–2024     56
1        Beyoncé                    Renaissance World Tour       2023     56
2        Madonna               Sticky & Sweet Tour ‡[4][a]  2008–2009     85
3           Pink               Beautiful Trauma World Tour  2018–2019    156
4   Taylor Swift                   Reputation Stadium Tour       2018     53
5        Madonna                             The MDNA Tour       2012     88
6    Celine Dion                 Taking Chances World Tour  2008–2009    131
7           Pink                         Summer Carnival †  2023–2024     41
8        Beyoncé                  The Formation World Tour       2016     49
9   Taylor Swift                       The 1989 World Tour       2015     85
10       Beyoncé           The Mrs. Carter Show World Tour  2013–2014    132
11     Lady Gaga                   The Monster Ball Tour *  2009–2011    203
12    Katy Perry                      Prismatic World Tour  2014–2015    151
13          Cher  Living Proof: The Farewell Tour ‡[21][a]  2002–2005    325
14       Madonna                          Confessions Tour       2006     60
15          Pink                 The Truth About Love Tour  2013–2014    142
16     Lady Gaga                        Born This Way Ball  2012–2013     98
17       Madonna                          Rebel Heart Tour  2015–2016     82
18         Adele                           Adele Live 2016  2016–2017    121
19  Taylor Swift                              The Red Tour  2013–2014     86

    Average gross  Ref.
0        13928571     1
1        10353571     3
2         4835294     6
3         2546795     7
4         6522173     8
5         3467709     9
6         2137405    11
7         6282927    12
8         5226215    13
9         2945882    14
10        1735606  1516
11        1118227    18
12        1350993    19
13         615385    20
14        3233333     5
15        1295775    22
16        1734694
17        2070732     4
18        1385950    25
19        1744186    26

In [57]:
df2.isnull().sum()

Rank                                 0
Peak                                11
All Time Peak                       14
Actual gross                         0
Adjusted gross (in 2022 dollars)     0
Artist                               0
Tour title                           0
Year(s)                              0
Shows                                0
Average gross                        0
Ref.                                 0
dtype: int64

In [69]:
peak_mode=df2["Peak"].mode()[0]

df2["Peak"].fillna(peak_mode,inplace=True)
df2["All Time Peak"].fillna(df2["All Time Peak"].mean(),inplace=True)

print(df2)
df2.isnull().sum()

    Rank  Peak  All Time Peak  Actual gross  Adjusted gross (in 2022 dollars)  \
0      1   1.0            2.0     780000000                         780000000
1      2   1.0            7.0     579800000                         579800000
2      3   1.0            2.0     411000000                         560622615
3      4   2.0           10.0     397300000                         454751555
4      5   2.0            7.5     345675146                         402844849
5      6   2.0           10.0     305158363                         388978496
6      7   2.0            7.5     280000000                         381932682
7      7   2.0            7.5     257600000                         257600000
8      9   2.0            7.5     256084556                         312258401
9     10   2.0            7.5     250400000                         309141878
10    11   2.0            7.5     229100000                         283202896
11    12   2.0           14.0     227400000                         295301479
12    13   2.0            7.5     204000000                         251856802
13    14   1.0            7.5     200000000                         299676265
14    15   2.0            7.5     194000000                         281617035
15    16   2.0            7.5     184000000                         227452347
16    17   2.0            7.5     170000000                         213568571
17    18   2.0            7.5     169800000                         207046755
18    19   2.0            7.5     167700000                         204486106
19    20   2.0            7.5     150000000                         185423109

          Artist                                Tour title    Year(s)  Shows  \
0   Taylor Swift                           The Eras Tour †  2023–2024     56
1        Beyoncé                    Renaissance World Tour       2023     56
2        Madonna               Sticky & Sweet Tour ‡[4][a]  2008–2009     85
3           Pink               Beautiful Trauma World Tour  2018–2019    156
4   Taylor Swift                   Reputation Stadium Tour       2018     53
5        Madonna                             The MDNA Tour       2012     88
6    Celine Dion                 Taking Chances World Tour  2008–2009    131
7           Pink                         Summer Carnival †  2023–2024     41
8        Beyoncé                  The Formation World Tour       2016     49
9   Taylor Swift                       The 1989 World Tour       2015     85
10       Beyoncé           The Mrs. Carter Show World Tour  2013–2014    132
11     Lady Gaga                   The Monster Ball Tour *  2009–2011    203
12    Katy Perry                      Prismatic World Tour  2014–2015    151
13          Cher  Living Proof: The Farewell Tour ‡[21][a]  2002–2005    325
14       Madonna                          Confessions Tour       2006     60
15          Pink                 The Truth About Love Tour  2013–2014    142
16     Lady Gaga                        Born This Way Ball  2012–2013     98
17       Madonna                          Rebel Heart Tour  2015–2016     82
18         Adele                           Adele Live 2016  2016–2017    121
19  Taylor Swift                              The Red Tour  2013–2014     86

    Average gross  Ref.
0        13928571     1
1        10353571     3
2         4835294     6
3         2546795     7
4         6522173     8
5         3467709     9
6         2137405    11
7         6282927    12
8         5226215    13
9         2945882    14
10        1735606  1516
11        1118227    18
12        1350993    19
13         615385    20
14        3233333     5
15        1295775    22
16        1734694
17        2070732     4
18        1385950    25
19        1744186    26

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17544\342487813.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2["Peak"].fillna(peak_mode,inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17544\342487813.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2["All Time Peak"].fillna(df2["All Time Peak"].mean(),inplace=True)

Rank                                0
Peak                                0
All Time Peak                       0
Actual gross                        0
Adjusted gross (in 2022 dollars)    0
Artist                              0
Tour title                          0
Year(s)                             0
Shows                               0
Average gross                       0
Ref.                                0
dtype: int64